@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Titillium+Web:wght@200;400;600;700;900&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  margin: auto;
  background: #fff;
}

.container{
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 48px;
  border-radius: 12px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .1) 0 3px 5px -1px,rgba(0, 0, 0, .05) 0 2px 1px 0,rgba(0, 0, 0, .05) 0 1px 20px 0;
  box-sizing: border-box;
  color: #2f5f74;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: .25px;
  line-height: normal;
  padding: 11px 24px;
  transition: background box-shadow 280ms ease;  
}



.nav-text{
  justify-content: left;
  font-weight: 700;
  color: #2f5f74;
  font-size: 24px;
}


.nav-text:hover{
  text-decoration: none;
  color: #2f5f74;
}

.navbar-size{
  max-width: 1140px;
  margin: auto;
  height: 100px;
}

.navbar-collapse{
  flex-basis: 0;
}

.navbar-section{
  background-color: #EAF0F2;
  margin-bottom: 42px;
  height: 100px;

}


.nav-button{
  background-color: #fff;
  border-radius: 12px;
  border-style: none;
  margin-left: 48px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #2f5f74;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: .25px;
  line-height: normal;
  padding: 11px 24px;
  transition: background box-shadow 280ms ease;
}

.nav-button:hover{
  background: #b9d5de;
  color: #eaf0f2;
  text-decoration: none;
  transition-duration: .2s;
}

.nav-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  }

.navbar-expand-lg{
  justify-content: right;
  
}

.images{
  margin-top: 72px;
  max-width: 50%;
  margin-bottom: 72px;
}


h1{
  font-size: 36px;
  color: #2f5f74;
  font-weight: 500;
}

h2{
  font-size: 24px;
  font-weight: 500;
  color: #2f5f74;
  text-align: justify;
  margin-bottom: 32px;
}

h3{
  font-size: 32px;
  font-weight: 900;
  color: #2f5f74;
  text-align: center;
  margin-bottom: 32px;
}

.introduce{
  display: flex;
  flex-direction: row;
  padding-bottom: 42px;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

#introduce-button{
  margin-left: 0px;
  margin-top: 32px;
  background-color: #2f5f74;
  color: #eaf0f2;
}

#introduce-button:hover{
  margin-left: 0px;
  margin-top: 24px;
  background-color: #eaf0f2;
  color: #2f5f74;
}

.portfolio{
  margin-bottom: 42px;
  color: #2f5f74;
  justify-content: center;
}



.elementor-image{
  font-size: 84px;
  
}

.card-element{
  margin-top: 42px;
  background-color: #fff;
  text-align: center;
  max-height: 300px;
  margin-bottom: 48px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .1) 0 3px 5px -1px,rgba(0, 0, 0, .05) 0 2px 1px 0,rgba(0, 0, 0, .05) 0 1px 20px 0;
  box-sizing: border-box;
  color: #2f5f74;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: .25px;
  font-size: 18px;  
  transition: background box-shadow 280ms ease;  
  transition-duration: 500ms;  
}

.card{
  box-shadow: rgba(0, 0, 0, .1) 0 3px 5px -1px,rgba(0, 0, 0, .05) 0 2px 1px 0,rgba(0, 0, 0, .05) 0 1px 20px 0;
  transition: background box-shadow 280ms ease;  
  transition-duration: 500ms;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, .1) 0 3px 5px -1px,rgba(0, 0, 0, .05) 0 4px 2px 0,rgba(0, 0, 0, .5) 0 1px 20px 0;
  border-radius: 0px 0 24px 24px;
  transition-duration: 500ms;
}

.card-element:hover{
  box-shadow: rgba(0, 0, 0, .1) 0 3px 5px -1px,rgba(0, 0, 0, .05) 0 4px 2px 0,rgba(0, 0, 0, .5) 0 1px 20px 0;
  border-radius: 0px 0 12px 12px;
  transition-duration: 500ms;
}

.line-1{
  height: 4px;
  background-color: #b9d5de;
}

.line-2{
  height: 4px;
  background-color: #b9d5de;
}

.line-3{
  height: 4px;
  background-color: #b9d5de;
}